@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Set up variables */
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb ;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

}

.progress {
    background-color: var(--line-border-fill);
    /* position of the line is fixed */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) ;
    height: 4px;
    width: 0%;
    /* To make the line sit behind the numbers */
    z-index: -1;
    transition: 0.4s ease;
}

.progress-container::before {
    /* Set content to an empty string*/
    content: '';
    background-color: var(--line-border-empty);
    /* position of the line is fixed */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) ;
    height: 4px;
    width: 100%;
    /* To make the line sit behind the numbers */
    z-index: -1;
}

/* Represents the numbers */
.circle {
    background-color: #fff;
    color: #999;
    /* To make the border circle around the numbers */
    border-radius: 50%;
    height: 30px;
    width: 30px;
    /* To center the numbers in the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;

}

/* When the number is active, this specific style will be applied */
.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    /* 8px top & bottom, 30px left & right */
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

/* When the button is disabled apply this styling */
.btn:disabled {
    /* Make PREV button gray */
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}